body{
    margin: 0 auto;
    padding: 0%;
}

header{
  background-color: orangered;
  display: flex;  
  justify-content: space-between;

}

img{
    max-width: 200px;
    max-height: 400px;
}

ul{
    list-style: none;
}